<div class="talk-overview">
  <h2><%= link_to talk.title, talk.url %></h2>

  <div class="meta">
    by <span class="author"><%= talk.author %></span>
    on <time datetime="<%= talk.timestamp %>">
        <%= talk.presented_at %>
       </time>
    at <%= talk.venue %>
  </div>
  
  <p><%= talk.intro %></p>
</div>